h1{

    color: rgb(78, 140, 190);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    font-weight: lighter;
}

p{
     font-size: 20px;
     font-weight: bold;
}

.boa{ 
    color: rgb(135, 100, 168);
    text-align: center;
    line-height: 10;

}
table{

    border-collapse: collapse;

}

table, td{
    border: 1px solid rgb(255, 80, 226)

}

td{
    padding: 10px;
    text-align: center;
}