#titulo{
   color: blue;
   text-align: center;
   font-size: 30px;
   line-height: 1;
}

#tabela{
    border-collapse: collapse;
}
table, td{
    border: 1px solid rgb(54, 45, 182)

}

.texto{
color: green;
font-size: 20px;
line-height: 2;
}

#tabela{
background-color: lightgray
}

.lista{
color:red;
}

img{
line-height: 2;

}